<ul class="list-group">
    <li class="list-group-item list-group-item-secondary text-black-50">
        Austin's faves
    </li>
    <li class="list-group-item">
        <button class="btn btn-link" (click)="promisesAsThenables()">Promises as "thenables"</button>
        <button class="btn btn-link" (click)="promisesWithAsyncAwait()">Promises with async await</button>
        <button class="btn btn-link" (click)="promisesFun()">Promises fun!</button>
    </li>
    @if (people$ | async; as people) {
        @for (p of people; track $index) {
            <li class="list-group-item">
                <input type="text" class="form-check-input me-2" type="checkbox" [id]="p.name">
                <label [for]="p.name" class="check-label stretched-link">{{ p.name }}</label>
            </li>
        }
    } @else {
        <li class="list-group-item list-group-item-info">
            Loading...
        </li>
    }
</ul>